<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>SE:BP-Search</title>
    <link rel='stylesheet' href = "../../static/css/main.css">
    <meta charset="UTF-8">
    <!-- Drop down navigation bar -->
    <div class="navbar">
        <h1>Secure Endpoint BP Signature Search</h1>
        <!--Home Page Link-->
        <a href="/layout">Home</a>
        <!--TICKETS DROPDOWN MENU-->
        <div class="dropdown">
          <button class="dropbtn">Tickets
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href={{url_for("runscript")}}>GET JIRA TIX</a>
            <a href={{url_for("assignedtickets")}}>ASSIGNED</a>
            <a href={{url_for("unassignedtickets")}}>UNASSIGNED</a>
            <a href={{url_for("getacetix")}}>ANALYST CONSOLE TIX</a>
          </div>
        </div>
        <!--SEARCH TOOLS DROPDOWN MENU-->
        <div class="dropdown">
          <button class="dropbtn">Search Tools
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/elasticq">Elastic Queries</a>
            <a href="/jirasearch">Jira Search</a>
          </div>
        </div>
        <!--SCRIPTS DROPDOWN MENU-->
        <div class="dropdown">
          <button class="dropbtn">Scripts
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href={{url_for("reinjection")}}>Reinjection</a>
            <a href={{url_for("etd")}}>ETD</a>
            <a href={{url_for("tg")}}>Malware Analytics</a>
            <a href={{url_for("backlogbuddy")}}>Backlog Buddy</a>
            <a href={{url_for("langs")}}>IPAS Lang Acronyms</a>
          </div>
        </div>
        </a><a href="/logout">Log Out</a>
    </div>
</head>
<body>
<br><br>

    <div class="elasticform">
        <form action="/getbp" method="POST">

            <p>BP Signature ID: <input type="number" name="bpid"/>
            <p>BP Signature Name: <input type="text" name="name"/>
            <br><br>
            <button type="submit">Submit</button>
            <p><input type="submit" formaction="/bpdownload" value="Download BP Sigs"></p>
        </form>
    </div>
<div class="footer">
  <p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>