/*defualt page layout*/
/* drop down menu nav bar */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #DAA06D;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: blue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #F2D2BD;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* toolbox image container */
.toolbox {
    position:relative
}

/*Blue header on all web pages*/
h1 {color : blue;}

/* Tiles to click and load new page*/
.tiles {
  float: left;
  width: 15%;
  padding: 10px;
  margin:20px;
  height: 200px;
}

.tile {
    text-align:center;
    font-size:35px;
    background-color:#CCCCFF;
    opacity: 0.5;
}

.thover:hover{
    background-color: #F28C28;
    opacity: 1.0;
}
/* End TILES */

body {
  overflow: hidden
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("../imgs/talos-social.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}

/* highlights row when mouse over*/
tr:hover {background-color: #D6EEEE;}

/* timezone clocks*/
.clocks {
     margin-top: 0px;
     margin-bottom: 0px;
     height: 125px;
}

/* bottom page title*/
.footer {
  position: fixed;
  font-size: 12px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

/*add scrollbars*/
.divScroll {
    overflow:auto;
    height:400px
}

/*elastic queries*/
.elasticform {
  display: inline-block;
  border-radius: 20px;
  text-align:center;
  box-shadow: 0 50px 20px 0 rgba(0, 0, 0, 0.3);
  width: 800px;
  background-color: #DAA06D;
  padding: 10px 30px 40px;
  opacity: 1;
}

/* credential form centered*/
.credsform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.divform {
  text-align: center;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  border: 4px solid hsl(0, 0%, 90%);
  display: inline-block;
  gap: 2rem;
}

.topleft {
    display: block;
    text-align: left;
    width:275px;
    margin:0;
    auto;
}

.button {
    text-align:center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 300px;
  background-color: #DAA06D;
  padding: 10px 30px 40px;
  opacity: 1;
}

.card h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #2e2e2e;
}

.cardData {
  margin: 10px 0;
  padding: 90px;
  align-items: center;
  justify-content: center;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
/*=======================*/
/*=======================*/
/* my css styles */
/* other layouts */
.topright {
  position: absolute;
  top: 200px;
  right: 10px;
  font-size: 18px;
}


/* NOT IN USE
*/



