<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href = "../static/css/main.css">
</head>
    <header>
        <!-- menu bar -->
        <div class="navbar">
        <h1>Talos Escalations | PigReplay</h1>
        </div>
    </header>
    <p><a href="/layout">Home</a></p>

    <!--ACTION TILES FOR USER-->
   <!--UPLOAD PCAP-->
    <div class="tiles tile thover">
         <a href="uploadpcap">
             <img alt="upload" src="../static/imgs/upload.png" height="150"></a>
          <div class="caption ">Upload Pcap</div>
      </div>

    <!--DL pcap-->
    <div class="tiles tile thover">
         <a href="filedownloads">
             <img alt="upload" src="../static/imgs/download.jpeg" height="150"></a>
          <div class="caption ">Download Pcap</div>
      </div>

    <!--Delete pcap from system-->
    <div class="tiles tile thover">
          <a href="filedeletion">
             <img alt="del" src="../static/imgs/delete.jpeg"
                  height="150"></a>
          <div class="caption ">Delete Pcaps</div>
      </div>

   <!--Download the latest S2 rules-->
    <div class="tiles tile thover">
          <a href="ruledl">
             <img alt="ruledl" src="../static/imgs/rules.webp"
                  width="180" height="150"></a>
          <div class="caption ">Snort Rule Download</div>
      </div>

    <div class="tiles tile thover">
          <a href="rulesearch">
             <img alt="rulesearch" src="../static/imgs/search.jpeg"
                  height="150"></a>
          <div class="caption ">Rule Search</div>
      </div>

    <div class="tiles tile thover">
          <a href="replay">
             <img alt="snort" src="../static/imgs/snort.jpeg"
                  width="180" height="150"></a>
          <div class="caption ">Snort Replay</div>
      </div>

        <div class="tiles tile thover">
         <a href="/jirasearch">
             <img alt="Jira" src="../static/imgs/jsearch.jpeg"
                  height="150"></a>
          <div class="caption ">Jira Search</div>
      </div>

<!--Footer section-->
    <div class="footer">
      <p>Copyright (c) 2023 wikoeste, Cisco Internal Use Only</p>
    </div>
</html>