<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snort Rule Search Results</title>
    <link rel='stylesheet' href = "../static/css/main.css">
    <div class="navbar">
        <h1>Rule Search Results</h1>
        <!--Snort 3 tile dashboad-->
        <a href="/pigreplay">Pig Replay</a>
        <!--delete pcap-->
        <a href="/filedeletion">Delete Pcap</a>
        <!--upload pcap-->
        <a href="/uploadpcap">Upload Pcap</a>
        <!--download pcap=-->
        <a href="filedownloads">Download Pcap</a>
        <!--rule search-->
        <a href="/rulesearch">Rule Search</a>
        <!--replay pcap-->
        <a href="/replay">Replay Pcap</a>
        <!--LOGOUT BUTTON-->
        <a href={{url_for("logout")}}>Logout</a>
    </div>

</head>
<body>

<p>Rule Text:</p>
<p>{{name}}</p>
</body>
</html>