<head>
  <title>Lang Acr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <div class="navbar">
      <h1>IPAS/EE Language Acronyms for Classification</h1>
          <img src="../static/imgs/toolbox.png" style="position:absolute;right:20px;top:20px;"/>
        <!--Home-->
        <a href={{url_for("layout")}}>Home</a>
        <!--TICKETS DROPDOWN MENU-->
        <div class="dropdown">
          <button class="dropbtn">Tickets
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href={{url_for("runscript")}}>GET JIRA TIX</a>
            <a href={{url_for("assignedtickets")}}>ASSIGNED</a>
            <a href={{url_for("unassignedtickets")}}>UNASSIGNED</a>
            <a href={{url_for("getacetix")}}>ANALYST CONSOLE TIX</a>
            <a href={{url_for("talosjiraeers")}}>Jira-EERS</a>
            <a href={{url_for("talosjiraops")}}>Jira-TalosOps</a>
            <a href={{url_for("talosjirathr")}}>Jira-THR</a>
            <a href={{url_for("talosjiraresbz")}}>Jira-RESBZ</a>
          </div>
        </div>
        <!--UMBRELLA DROPDOWN MENU-->
        <div class="dropdown">
         <button class="dropbtn">Umbrella-Tools
          <i class="fa fa-caret-down"></i>
         </button>
          <div class="dropdown-content">
            <a href="https://editor.securityresearch.umbrella.com/editor" target="_blank">Research Editor</a>
            <a href={{url_for("intelproxysearchform")}}>Proxy Script Search</a>
          </div>
        </div>
        <!--SEARCH TOOLS DROPDOWN MENU-->
        <div class="dropdown">
          <button class="dropbtn">Search Tools
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/elasticq">Elastic Queries</a>
            <a href="/jirasearch">Jira Search</a>
          </div>
        </div>
        <!--SCRIPTS DROPDOWN MENU-->
        <div class="dropdown">
          <button class="dropbtn">Scripts
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href={{url_for("reinjection")}}>Reinjection</a>
            <a href={{url_for("etd")}}>ETD</a>
            <a href={{url_for("backlogbuddy")}}>Backlog Buddy</a>
            <a href={{url_for("langs")}}>IPAS Lang Acronyms</a>
          </div>
        </div>
        <!--STAGING SERVERS DROPDOWN MENU-->
        <div class="dropdown">
         <button class="dropbtn">Staging Servers
          <i class="fa fa-caret-down"></i>
         </button>
          <div class="dropdown-content">
            <a href="https://analyst-console-staging.vrt.sourcefire.com/escalations" target="_blank">ACE</a>
            <a href="https://fmd-tepot-01tst.vrt.sourcefire.com" target="_blank">TEA</a>
            <a href="https://talosintelligence-staging.herokuapp.com/reputation_center/" target="_blank">Talos Intel</a>
          </div>
        </div>
        <!--LOGOUT BUTTON-->
        <a href={{url_for("logout")}}>Logout</a>
      </div>
</head>
<body>
  <div style="height:600px; overflow:auto;">
  <table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>Country CODE</th>
        <th>Country Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>–</td>
        <td>Unknown</td>
      </tr>
      <tr>
        <th>1</th>
        <td>aa</td>
        <td>Afar</td>
      </tr>
      <tr>
        <th>2</th>
        <td>ab</td>
        <td>Abkhazian</td>
      </tr>
      <tr>
        <th>3</th>
        <td>af</td>
        <td>Afrikaans</td>
      </tr>
      <tr>
        <th>4</th>
        <td>am</td>
        <td>Amharic</td>
      </tr>
      <tr>
        <th>5</th>
        <td>ar</td>
        <td>Arabic</td>
      </tr>
      <tr>
        <th>6</th>
        <td>as</td>
        <td>Assamese</td>
      </tr>
      <tr>
        <th>7</th>
        <td>ay</td>
        <td>Aymara</td>
      </tr>
      <tr>
        <th>8</th>
        <td>az</td>
        <td>Azerbaijani</td>
      </tr>
      <tr>
        <th>9</th>
        <td>ba</td>
        <td>Bashkir</td>
      </tr>
      <tr>
        <th>10</th>
        <td>be</td>
        <td>Byelorussian</td>
      </tr>
      <tr>
        <th>11</th>
        <td>bg</td>
        <td>Bulgarian</td>
      </tr>
      <tr>
        <th>12</th>
        <td>bh</td>
        <td>Bihari,Bangla</td>
      </tr>
      <tr>
        <th>13</th>
        <td>bi</td>
        <td>Bislama</td>
      </tr>
      <tr>
        <th>14</th>
        <td>bn</td>
        <td>Bengali</td>
      </tr>
      <tr>
        <th>15</th>
        <td>bo</td>
        <td>Tibetan</td>
      </tr>
      <tr>
        <th>16</th>
        <td>br</td>
        <td>Breton</td>
      </tr>
      <tr>
        <th>17</th>
        <td>ca</td>
        <td>Catalan</td>
      </tr>
      <tr>
        <th>18</th>
        <td>co</td>
        <td>Corsican</td>
      </tr>
      <tr>
        <th>19</th>
        <td>cs</td>
        <td>Czech</td>
      </tr>
      <tr>
        <th>20</th>
        <td>cy</td>
        <td>Welsh</td>
      </tr>
      <tr>
        <th>21</th>
        <td>da-dk</td>
        <td>Danish (Denmark)</td>
      </tr>
      <tr>
        <th>22</th>
        <td>de</td>
        <td>German</td>
      </tr>
      <tr>
        <th>23</th>
        <td>dz</td>
        <td>Bhutani</td>
      </tr>
      <tr>
        <th>24</th>
        <td>el</td>
        <td>Greek</td>
      </tr>
      <tr>
        <th>25</th>
        <td>en</td>
        <td>English</td>
      </tr>
      <tr>
        <th>26</th>
        <td>eo</td>
        <td>Esperanto</td>
      </tr>
      <tr>
        <th>27</th>
        <td>es</td>
        <td>Spanish</td>
      </tr>
      <tr>
        <th>28</th>
        <td>et</td>
        <td>Estonian</td>
      </tr>
      <tr>
        <th>29</th>
        <td>eu</td>
        <td>Basque</td>
      </tr>
      <tr>
        <th>30</th>
        <td>fa</td>
        <td>Persian</td>
      </tr>
      <tr>
        <th>31</th>
        <td>fi</td>
        <td>Finnish</td>
      </tr>
      <tr>
        <th>32</th>
        <td>fj</td>
        <td>Fiji</td>
      </tr>
      <tr>
        <th>33</th>
        <td>fo</td>
        <td>Faeroese</td>
      </tr>
      <tr>
        <th>34</th>
        <td>fr</td>
        <td>French</td>
      </tr>
      <tr>
        <th>35</th>
        <td>fy</td>
        <td>Frisian</td>
      </tr>
      <tr>
        <th>36</th>
        <td>ga</td>
        <td>IrishGaelic</td>
      </tr>
      <tr>
        <th>37</th>
        <td>gd</td>
        <td>ScottishGaelic</td>
      </tr>
      <tr>
        <th>38</th>
        <td>gl</td>
        <td>Galician</td>
      </tr>
      <tr>
        <th>39</th>
        <td>gn</td>
        <td>Guarani</td>
      </tr>
      <tr>
        <th>40</th>
        <td>gu</td>
        <td>Gujarati</td>
      </tr>
      <tr>
        <th>41</th>
        <td>ha</td>
        <td>Hausa</td>
      </tr>
      <tr>
        <th>42</th>
        <td>hi</td>
        <td>Hindi</td>
      </tr>
      <tr>
        <th>43</th>
        <td>hr</td>
        <td>Croatian</td>
      </tr>
      <tr>
        <th>44</th>
        <td>hu</td>
        <td>Hungarian</td>
      </tr>
      <tr>
        <th>45</th>
        <td>hy</td>
        <td>Armenian</td>
      </tr>
      <tr>
        <th>46</th>
        <td>ia</td>
        <td>Interlingua</td>
      </tr>
      <tr>
        <th>47</th>
        <td>ie</td>
        <td>Interlingue</td>
      </tr>
      <tr>
        <th>48</th>
        <td>ik</td>
        <td>Inupiak</td>
      </tr>
      <tr>
        <th>49</th>
        <td>id</td>
        <td>Indonesian</td>
      </tr>
      <tr>
        <th>50</th>
        <td>is</td>
        <td>Icelandic</td>
      </tr>
      <tr>
        <th>51</th>
        <td>it</td>
        <td>Italian</td>
      </tr>
      <tr>
        <th>52</th>
        <td>hb</td>
        <td>Hebrew (not ISO 639-1)</td>
      </tr>
      <tr>
        <th>53</th>
        <td>ja</td>
        <td>Japanese</td>
      </tr>
      <tr>
        <th>54</th>
        <td>ji</td>
        <td>Yiddish</td>
      </tr>
      <tr>
        <th>55</th>
        <td>jw</td>
        <td>Javanese</td>
      </tr>
      <tr>
        <th>56</th>
        <td>ka</td>
        <td>Georgian</td>
      </tr>
      <tr>
        <th>57</th>
        <td>kk</td>
        <td>Kazakh</td>
      </tr>
      <tr>
        <th>58</th>
        <td>kl</td>
        <td>Greenlandic</td>
      </tr>
      <tr>
        <th>59</th>
        <td>km</td>
        <td>Cambodian</td>
      </tr>
      <tr>
        <th>60</th>
        <td>kn</td>
        <td>Kannada</td>
      </tr>
      <tr>
        <th>61</th>
        <td>ko</td>
        <td>Korean</td>
      </tr>
      <tr>
        <th>62</th>
        <td>ks</td>
        <td>Kashmiri</td>
      </tr>
      <tr>
        <th>63</th>
        <td>ku</td>
        <td>Kurdish</td>
      </tr>
      <tr>
        <th>64</th>
        <td>ky</td>
        <td>Kirghiz</td>
      </tr>
      <tr>
        <th>65</th>
        <td>la</td>
        <td>Latin</td>
      </tr>
      <tr>
        <th>66</th>
        <td>ln</td>
        <td>Lingala</td>
      </tr>
      <tr>
        <th>67</th>
        <td>lo</td>
        <td>Laothian</td>
      </tr>
      <tr>
        <th>68</th>
        <td>lt</td>
        <td>Lithuanian</td>
      </tr>
      <tr>
        <th>69</th>
        <td>lv</td>
        <td>Latvian,Lettish</td>
      </tr>
      <tr>
        <th>70</th>
        <td>mg</td>
        <td>Malagasy</td>
      </tr>
      <tr>
        <th>71</th>
        <td>mi</td>
        <td>Maori</td>
      </tr>
      <tr>
        <th>72</th>
        <td>mk</td>
        <td>Macedonian</td>
      </tr>
      <tr>
        <th>73</th>
        <td>ml</td>
        <td>Malayalam</td>
      </tr>
      <tr>
        <th>74</th>
        <td>mn</td>
        <td>Mongolian</td>
      </tr>
      <tr>
        <th>75</th>
        <td>mo</td>
        <td>Moldavian</td>
      </tr>
      <tr>
        <th>76</th>
        <td>mr</td>
        <td>Marathi</td>
      </tr>
      <tr>
        <th>77</th>
        <td>ms</td>
        <td>Malay</td>
      </tr>
      <tr>
        <th>78</th>
        <td>mt</td>
        <td>Maltese</td>
      </tr>
      <tr>
        <th>79</th>
        <td>my</td>
        <td>Burmese</td>
      </tr>
      <tr>
        <th>80</th>
        <td>na</td>
        <td>Nauru</td>
      </tr>
      <tr>
        <th>81</th>
        <td>ne</td>
        <td>Nepali</td>
      </tr>
      <tr>
        <th>82</th>
        <td>nl</td>
        <td>Dutch</td>
      </tr>
      <tr>
        <th>83</th>
        <td>no</td>
        <td>Norwegian</td>
      </tr>
      <tr>
        <th>84</th>
        <td>oc</td>
        <td>Occitan</td>
      </tr>
      <tr>
        <th>85</th>
        <td>om</td>
        <td>Oromo,Afan</td>
      </tr>
      <tr>
        <th>86</th>
        <td>or</td>
        <td>Oriya</td>
      </tr>
      <tr>
        <th>87</th>
        <td>pa</td>
        <td>Punjabi</td>
      </tr>
      <tr>
        <th>88</th>
        <td>pl</td>
        <td>Polish</td>
      </tr>
      <tr>
        <th>89</th>
        <td>ps</td>
        <td>Pashto,Pushto</td>
      </tr>
      <tr>
        <th>90</th>
        <td>pt</td>
        <td>Portuguese</td>
      </tr>
      <tr>
        <th>91</th>
        <td>qu</td>
        <td>Quechua</td>
      </tr>
      <tr>
        <th>92</th>
        <td>rm</td>
        <td>Rhaeto-Romance</td>
      </tr>
      <tr>
        <th>93</th>
        <td>rn</td>
        <td>Kirundi</td>
      </tr>
      <tr>
        <th>94</th>
        <td>ro</td>
        <td>Romanian</td>
      </tr>
      <tr>
        <th>95</th>
        <td>ru</td>
        <td>Russian</td>
      </tr>
      <tr>
        <th>96</th>
        <td>rw</td>
        <td>Kinyarwanda</td>
      </tr>
      <tr>
        <th>97</th>
        <td>sa</td>
        <td>Sanskrit</td>
      </tr>
      <tr>
        <th>98</th>
        <td>sd</td>
        <td>Sindhi</td>
      </tr>
      <tr>
        <th>99</th>
        <td>sg</td>
        <td>Sangro</td>
      </tr>
      <tr>
        <th>100</th>
        <td>sh</td>
        <td>Serbo-Croatian</td>
      </tr>
      <tr>
        <th>101</th>
        <td>si</td>
        <td>Singhalese</td>
      </tr>
      <tr>
        <th>102</th>
        <td>sk</td>
        <td>Slovak</td>
      </tr>
      <tr>
        <th>103</th>
        <td>sl</td>
        <td>Slovenian</td>
      </tr>
      <tr>
        <th>104</th>
        <td>sm</td>
        <td>Samoan</td>
      </tr>
      <tr>
        <th>105</th>
        <td>sn</td>
        <td>Shona</td>
      </tr>
      <tr>
        <th>106</th>
        <td>so</td>
        <td>Somali</td>
      </tr>
      <tr>
        <th>107</th>
        <td>sq</td>
        <td>Albanian</td>
      </tr>
      <tr>
        <th>108</th>
        <td>sr</td>
        <td>Serbian</td>
      </tr>
      <tr>
        <th>109</th>
        <td>ss</td>
        <td>Siswati</td>
      </tr>
      <tr>
        <th>110</th>
        <td>st</td>
        <td>Sesotho</td>
      </tr>
      <tr>
        <th>111</th>
        <td>su</td>
        <td>Sudanese</td>
      </tr>
      <tr>
        <th>112</th>
        <td>sv</td>
        <td>Swedish</td>
      </tr>
      <tr>
        <th>113</th>
        <td>sw</td>
        <td>Swahili</td>
      </tr>
      <tr>
        <th>114</th>
        <td>ta</td>
        <td>Tamil</td>
      </tr>
      <tr>
        <th>115</th>
        <td>te</td>
        <td>Telugu</td>
      </tr>
      <tr>
        <th>116</th>
        <td>tg</td>
        <td>Tajik</td>
      </tr>
      <tr>
        <th>117</th>
        <td>th</td>
        <td>Thai</td>
      </tr>
      <tr>
        <th>118</th>
        <td>ti</td>
        <td>Tigrinya</td>
      </tr>
      <tr>
        <th>119</th>
        <td>tk</td>
        <td>Turkmen</td>
      </tr>
      <tr>
        <th>120</th>
        <td>tl</td>
        <td>Tagalog</td>
      </tr>
      <tr>
        <th>121</th>
        <td>tn</td>
        <td>Setswana</td>
      </tr>
      <tr>
        <th>122</th>
        <td>to</td>
        <td>Tonga</td>
      </tr>
      <tr>
        <th>123</th>
        <td>tr</td>
        <td>Turkish</td>
      </tr>
      <tr>
        <th>124</th>
        <td>ts</td>
        <td>Tsonga</td>
      </tr>
      <tr>
        <th>125</th>
        <td>tt</td>
        <td>Tatar</td>
      </tr>
      <tr>
        <th>126</th>
        <td>tw</td>
        <td>Twi</td>
      </tr>
      <tr>
        <th>127</th>
        <td>uk</td>
        <td>Ukrainian</td>
      </tr>
      <tr>
        <th>128</th>
        <td>ur</td>
        <td>Urdu</td>
      </tr>
      <tr>
        <th>129</th>
        <td>uz</td>
        <td>Uzbek</td>
      </tr>
      <tr>
        <th>130</th>
        <td>vi</td>
        <td>Vietnamese</td>
      </tr>
      <tr>
        <th>131</th>
        <td>vo</td>
        <td>Volapuk</td>
      </tr>
      <tr>
        <th>132</th>
        <td>wo</td>
        <td>Wolof</td>
      </tr>
      <tr>
        <th>133</th>
        <td>xh</td>
        <td>Xhosa</td>
      </tr>
      <tr>
        <th>134</th>
        <td>yo</td>
        <td>Yoruba</td>
      </tr>
      <tr>
        <th>135</th>
        <td>zh</td>
        <td>Chinese</td>
      </tr>
      <tr>
        <th>136</th>
        <td>zu</td>
        <td>Zulu</td>
      </tr>
      <tr>
        <th>137</th>
        <td>NaN</td>
        <td>NaN</td>
      </tr>
      <tr>
        <th>138</th>
        <td>No labels</td>
        <td>NaN</td>
      </tr>
    </tbody>
  </table>
  </div>
<br><br>
</body>
<div class="footer">
  <p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>