<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Analyst Console Assigned Tickets</h1>
</head>
<body>
<div class='tblcontainer'>
<table class='tbl'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</><a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</></p>
  <tr>
    <th>ACE-Links</th>
 <tr>
    <td>Web Tickets:9</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984052 target=_blank>3984052</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984058 target=_blank>3984058</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984064 target=_blank>3984064</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984066 target=_blank>3984066</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984092 target=_blank>3984092</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984094 target=_blank>3984094</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984170 target=_blank>3984170</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984240 target=_blank>3984240</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984350 target=_blank>3984350</a></td>
  </tr>
 <tr>
    <td>File Tickets:0</td>
  </tr>
 <tr>
    <td>SDR tickets:0</td>
  </tr>
 <tr>
    <td>Snort tickets:0</td>
  </tr>
 <tr>
    <td>Re-Opened Tickets:0</td>
  </tr>
 <tr>
    <td>ALL Unassigned ACE tickets:45</td>
  </tr>
 <tr>
    <td>Web Unassigned:45</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3897538 target=_blank>3897538</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984390 target=_blank>3984390</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984392 target=_blank>3984392</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984424 target=_blank>3984424</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984430 target=_blank>3984430</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3984668 target=_blank>3984668</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3985028 target=_blank>3985028</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3987466 target=_blank>3987466</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3988268 target=_blank>3988268</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3988524 target=_blank>3988524</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3988810 target=_blank>3988810</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989060 target=_blank>3989060</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989104 target=_blank>3989104</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989112 target=_blank>3989112</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989116 target=_blank>3989116</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989120 target=_blank>3989120</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989208 target=_blank>3989208</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989210 target=_blank>3989210</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989212 target=_blank>3989212</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989214 target=_blank>3989214</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989216 target=_blank>3989216</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989220 target=_blank>3989220</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989222 target=_blank>3989222</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989224 target=_blank>3989224</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989226 target=_blank>3989226</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989256 target=_blank>3989256</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989268 target=_blank>3989268</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989272 target=_blank>3989272</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989284 target=_blank>3989284</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989300 target=_blank>3989300</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989304 target=_blank>3989304</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989314 target=_blank>3989314</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989318 target=_blank>3989318</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989338 target=_blank>3989338</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989362 target=_blank>3989362</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989386 target=_blank>3989386</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989458 target=_blank>3989458</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989598 target=_blank>3989598</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989622 target=_blank>3989622</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989624 target=_blank>3989624</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989638 target=_blank>3989638</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989704 target=_blank>3989704</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989736 target=_blank>3989736</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989738 target=_blank>3989738</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/3989750 target=_blank>3989750</a></td>
  </tr>
 <tr>
    <td>File Unassigned:0</td>
  </tr>
 <tr>
    <td>SDR Unassigned:0</td>
  </tr>
 <tr>
    <td>Snort Unassigned:0</td>
  </tr>
</table>
</div><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
