<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Analyst Console Assigned Tickets</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:50% display: block; height: 100px; overflow: scroll;'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a><a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a></p>
  <tr>
    <th>ACE-Links</th>
 <tr>
    <td>Web Tickets:10</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539143 target=_blank>4539143</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539259 target=_blank>4539259</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539515 target=_blank>4539515</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539517 target=_blank>4539517</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539563 target=_blank>4539563</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539585 target=_blank>4539585</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539721 target=_blank>4539721</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539725 target=_blank>4539725</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539729 target=_blank>4539729</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539743 target=_blank>4539743</a></td>
  </tr>
 <tr>
    <td>File Tickets:0</td>
  </tr>
 <tr>
    <td>SDR Tickets:0</td>
  </tr>
 <tr>
    <td>Snort Tickets:1</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/snort_escalations/257 target=_blank>257</a></td>
  </tr>
 <tr>
    <td>Re-Opened Tickets:0</td>
  </tr>
 <tr>
    <td>ALL Unassigned ACE tickets:147</td>
  </tr>
 <tr>
    <td>Snort Unassigned:0</td>
  </tr>
 <tr>
    <td>File Unassigned:3</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4538429 target=_blank>4538429</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4539387 target=_blank>4539387</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4539599 target=_blank>4539599</a></td>
  </tr>
 <tr>
    <td>SDR Unassigned:0</td>
  </tr>
 <tr>
    <td>Web Unassigned:144</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534645 target=_blank>4534645</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534689 target=_blank>4534689</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534695 target=_blank>4534695</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534785 target=_blank>4534785</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534803 target=_blank>4534803</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534809 target=_blank>4534809</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534869 target=_blank>4534869</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534871 target=_blank>4534871</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4534883 target=_blank>4534883</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535085 target=_blank>4535085</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535087 target=_blank>4535087</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535089 target=_blank>4535089</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535099 target=_blank>4535099</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535107 target=_blank>4535107</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535135 target=_blank>4535135</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535141 target=_blank>4535141</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535143 target=_blank>4535143</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535151 target=_blank>4535151</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535153 target=_blank>4535153</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535179 target=_blank>4535179</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535181 target=_blank>4535181</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535183 target=_blank>4535183</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535185 target=_blank>4535185</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535187 target=_blank>4535187</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535193 target=_blank>4535193</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535199 target=_blank>4535199</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535203 target=_blank>4535203</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535211 target=_blank>4535211</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535227 target=_blank>4535227</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535229 target=_blank>4535229</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535233 target=_blank>4535233</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535273 target=_blank>4535273</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4535693 target=_blank>4535693</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536845 target=_blank>4536845</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536865 target=_blank>4536865</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536871 target=_blank>4536871</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536877 target=_blank>4536877</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536885 target=_blank>4536885</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536887 target=_blank>4536887</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536895 target=_blank>4536895</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536913 target=_blank>4536913</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536919 target=_blank>4536919</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536921 target=_blank>4536921</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536927 target=_blank>4536927</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536951 target=_blank>4536951</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536955 target=_blank>4536955</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4536959 target=_blank>4536959</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537019 target=_blank>4537019</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537411 target=_blank>4537411</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537451 target=_blank>4537451</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537477 target=_blank>4537477</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537601 target=_blank>4537601</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537609 target=_blank>4537609</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537615 target=_blank>4537615</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537617 target=_blank>4537617</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537675 target=_blank>4537675</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537745 target=_blank>4537745</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537747 target=_blank>4537747</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537761 target=_blank>4537761</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537767 target=_blank>4537767</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4537879 target=_blank>4537879</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538007 target=_blank>4538007</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538013 target=_blank>4538013</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538227 target=_blank>4538227</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538357 target=_blank>4538357</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538363 target=_blank>4538363</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538377 target=_blank>4538377</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538379 target=_blank>4538379</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538425 target=_blank>4538425</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538435 target=_blank>4538435</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538549 target=_blank>4538549</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538785 target=_blank>4538785</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538889 target=_blank>4538889</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538909 target=_blank>4538909</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538913 target=_blank>4538913</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538915 target=_blank>4538915</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538921 target=_blank>4538921</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538923 target=_blank>4538923</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538925 target=_blank>4538925</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538933 target=_blank>4538933</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538937 target=_blank>4538937</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538939 target=_blank>4538939</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538947 target=_blank>4538947</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538949 target=_blank>4538949</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538951 target=_blank>4538951</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538965 target=_blank>4538965</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538979 target=_blank>4538979</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538985 target=_blank>4538985</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538991 target=_blank>4538991</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4538997 target=_blank>4538997</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539007 target=_blank>4539007</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539101 target=_blank>4539101</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539113 target=_blank>4539113</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539127 target=_blank>4539127</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539129 target=_blank>4539129</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539745 target=_blank>4539745</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539769 target=_blank>4539769</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539775 target=_blank>4539775</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539921 target=_blank>4539921</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539941 target=_blank>4539941</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4539989 target=_blank>4539989</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540061 target=_blank>4540061</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540063 target=_blank>4540063</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540067 target=_blank>4540067</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540069 target=_blank>4540069</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540087 target=_blank>4540087</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540109 target=_blank>4540109</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540155 target=_blank>4540155</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540347 target=_blank>4540347</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540365 target=_blank>4540365</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540369 target=_blank>4540369</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540381 target=_blank>4540381</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540387 target=_blank>4540387</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540399 target=_blank>4540399</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540429 target=_blank>4540429</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540439 target=_blank>4540439</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540445 target=_blank>4540445</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540451 target=_blank>4540451</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540463 target=_blank>4540463</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540465 target=_blank>4540465</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540467 target=_blank>4540467</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540471 target=_blank>4540471</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540477 target=_blank>4540477</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540499 target=_blank>4540499</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540507 target=_blank>4540507</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540509 target=_blank>4540509</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540539 target=_blank>4540539</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540599 target=_blank>4540599</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540601 target=_blank>4540601</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4540921 target=_blank>4540921</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4541193 target=_blank>4541193</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4541197 target=_blank>4541197</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4541317 target=_blank>4541317</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4541533 target=_blank>4541533</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4541753 target=_blank>4541753</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543255 target=_blank>4543255</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543257 target=_blank>4543257</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543263 target=_blank>4543263</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543265 target=_blank>4543265</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543269 target=_blank>4543269</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543271 target=_blank>4543271</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543275 target=_blank>4543275</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543277 target=_blank>4543277</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4543373 target=_blank>4543373</a></td>
  </tr>
</table>
</div><br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
