<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Assigned</h1>
</head>
<body>
<div class='tblcontainer'>
<table class='tbl'>
<style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a > <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</></p>
  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>DateOpened</th>
    <th>LastModified</th>
    <th>Bulk Resolve</th>
  </tr>
  <tr>
    <td><a href=https://bugzilla.vrt.sourcefire.com/show_bug.cgi?id=2469052 target=_blank>2469052</a></td>
    <td>[CUST][FP] FARO TECHNOLOGIES INC. - AMP - Behavioral Protection BP[...]</td>
    <td>2022-12-09</td>
    <td>2022-12-20 15:44:23</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=2469052><label for=2469052>2469052</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62691 target=_blank>COG-62691</a></td>
    <td>[Other]-DYNASAFE -  IPAS - antivirus enquiry</td>
    <td>2022-12-21</td>
    <td>2022-12-21 05:16:21</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62691><label for=COG-62691>COG-62691</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62669 target=_blank>COG-62669</a></td>
    <td>[FP][Mailer] amiad.com - SDR - LEGIT domain flagged by SDR</td>
    <td>2022-12-20</td>
    <td>2022-12-21 04:59:37</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62669><label for=COG-62669>COG-62669</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62663 target=_blank>COG-62663</a></td>
    <td>[FN]-ELGI EQUIPMENTS LTD- IPAS - missed SPAM</td>
    <td>2022-12-19</td>
    <td>2022-12-21 04:54:46</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62663><label for=COG-62663>COG-62663</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62658 target=_blank>COG-62658</a></td>
    <td>[FP] STATE COMPENSATION INSURANCE FUND - IPAS -  Email being misclassified</td>
    <td>2022-12-19</td>
    <td>2022-12-21 04:54:19</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62658><label for=COG-62658>COG-62658</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62641 target=_blank>COG-62641</a></td>
    <td>[OTHER]NETWORK VALUE COMPONENTS LTD- IPAS - why SDR verdict is for helo domain</td>
    <td>2022-12-19</td>
    <td>2022-12-21 07:36:35</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62641><label for=COG-62641>COG-62641</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62640 target=_blank>COG-62640</a></td>
    <td>[FN] - MINISTRY OF EDUCATION MOE - IPAS - Email should be spam</td>
    <td>2022-12-19</td>
    <td>2022-12-21 05:44:21</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62640><label for=COG-62640>COG-62640</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62611 target=_blank>COG-62611</a></td>
    <td>[FP] Melbourne Water AU - Umbrella/WBRS - remove ''app-express-prd-asez1-melbwater-qrms.azurewebsites.net'' from the proxy entries.</td>
    <td>2022-12-15</td>
    <td>2022-12-21 04:52:23</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62611><label for=COG-62611>COG-62611</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62590 target=_blank>COG-62590</a></td>
    <td>[Other] Philips - WBRS - Customer is asking to whitelist following URL/file - static.crates.io/crates/flate2/flate2-1.0.25.crate</td>
    <td>2022-12-15</td>
    <td>2022-12-21 07:28:58</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62590><label for=COG-62590>COG-62590</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-62535 target=_blank>COG-62535</a></td>
    <td>[FN] SHAMIR OPTICAL INDUSTRY & DEVELOPMENT AGR COOP SOC LTD - IPAS/AMP - An email with malicious HTML attachment not caught by AMP</td>
    <td>2022-12-13</td>
    <td>2022-12-21 07:42:29</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62535><label for=COG-62535>COG-62535</label><br></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Resolve Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Jira</td>
    <td>9</td>
  </tr>
  <tr>
    <td>Bugzilla</td>
    <td>1</td>
  </tr>
</table>
</div>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>