<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Assigned</h1>
</head>
<body>
<div class='tblcontainer'>
<table class='tbl'>
<style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a > <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</></p>
  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>DateOpened</th>
    <th>LastModified</th>
    <th>Bulk Resolve</th>
  </tr>
  <tr>
    <td><a href=https://bugzilla.vrt.sourcefire.com/show_bug.cgi?id=2482976 target=_blank>2482976</a></td>
    <td>[CUST][FP] Cisco - AMP - FP Report for[...]</td>
    <td>2023-01-03</td>
    <td>2023-01-04 11:55:43</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=2482976><label for=2482976>2482976</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-62838 target=_blank>COG-62838</a></td>
    <td>[FP] - FINANZ INFORMATIK GMBH & CO.KG - IPAS - Not spam</td>
    <td>2023-01-04</td>
    <td>2023-01-04 07:52:14</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-62838><label for=COG-62838>COG-62838</label><br></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Resolve Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Jira</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Bugzilla</td>
    <td>1</td>
  </tr>
</table>
</div>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>