<html>
<head>
<link rel='stylesheet' href = "{{ url_for('static', filename='css/main.css') }}">
<h1 class='logo'>Backlog Buddy List</h1>
</head>
<body>
<div class='tblcontainer'>
<table class='tbl'>
<style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a > <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a></p>
  <tr>
    <th>Engineer</th>
    <th>Primary</th>
    <th>Secondary</th>
  </tr>
  <tr>
    <td>Matt</td>
    <td>Andrew</td>
    <td>Will</td>
  </tr>
  <tr>
    <td>Andrew</td>
    <td>Will</td>
    <td>Manuel</td>
  </tr>
  <tr>
    <td>Will</td>
    <td>Matt</td>
    <td>Sam</td>
  </tr>
  <tr>
    <td>Manuel</td>
    <td>Daniel</td>
    <td>Matt</td>
  </tr>
  <tr>
    <td>Daniel</td>
    <td>Sam</td>
    <td>Andrew</td>
  </tr>
  <tr>
    <td>Sam</td>
    <td>Manuel</td>
    <td>Daniel</td>
  </tr>
  <tr>
    <td>Jayme</td>
    <td>Vance</td>
    <td>Omar</td>
  </tr>
  <tr>
    <td>Vance</td>
    <td>Omar</td>
    <td>Jai</td>
  </tr>
  <tr>
    <td>Omar</td>
    <td>Jai</td>
    <td>Jayme</td>
  </tr>
  <tr>
    <td>Jai</td>
    <td>Jayme</td>
    <td>Vance</td>
  </tr>
  <tr>
    <td>Greg</td>
    <td>Jyothi</td>
    <td>Jayme</td>
  </tr>
  <tr>
    <td>Jyothi</td>
    <td>Greg</td>
    <td>Jayme</td>
  </tr>
  <tr>
    <td>Patrick</td>
    <td>Vinny</td>
    <td>Jyothi</td>
  </tr>
  <tr>
    <td>Vinny</td>
    <td>Patrick</td>
    <td>Greg</td>
  </tr>
  <tr>
    <td>Prakhar</td>
    <td>Pratham</td>
    <td>Vinny</td>
  </tr>
  <tr>
    <td>Aakash</td>
    <td>Prakhar</td>
    <td>Pratham</td>
  </tr>
  <tr>
    <td>Pratham</td>
    <td>Aakash</td>
    <td>Patrick</td>
  </tr>
</table>
</div>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>