<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Engineer</th>
      <th>Primary</th>
      <th>Secondary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Matt</td>
      <td>Abhishek</td>
      <td>Andrew</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Andrew</td>
      <td>Will</td>
      <td>Abhishek</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Abhishek</td>
      <td>Bianca</td>
      <td>Will</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Bianca</td>
      <td>Andrew</td>
      <td>Matt</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Will</td>
      <td>Matt</td>
      <td>Bianca</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Jayme</td>
      <td>Vance</td>
      <td>Omar</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Vance</td>
      <td>Omar</td>
      <td>Jai</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Omar</td>
      <td>Jai</td>
      <td>Jayme</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Jai</td>
      <td>Jayme</td>
      <td>Vance</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Greg</td>
      <td>Jyothi</td>
      <td>Jayme</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Jyothi</td>
      <td>Greg</td>
      <td>Jayme</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Patrick</td>
      <td>Vinny</td>
      <td>Sree</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Vinny</td>
      <td>Patrick</td>
      <td>Sree</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Sree</td>
      <td>Vinny</td>
      <td>Tamoha</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Tamoha</td>
      <td>Sree</td>
      <td>Will</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Aakash</td>
      <td>Tamoha</td>
      <td>Patrick</td>
    </tr>
  </tbody>
</table>