<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Juno Elastic Query API Results</h1>
</head>
<body>
<div class='tblcontainer'>
<table class='tbl'>
<style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/elasticq">Elastic Qrys</a></p>
  <tr>
    <th>FP/FN Submissions for User: wikoeste</th>
    <th>Submitted Time</th>
  </tr>
  <tr>
    <td>cidG50063apZnMLKGakZh7SfYBV8HhRLQTfn</td>
    <td>2022-12-20T17:43:54.000Z</td>
  </tr>
  <tr>
    <td>cidG50063amkT9r3PzjdDEZ4TWDP3OkBvxWO</td>
    <td>2022-12-20T17:00:50.000Z</td>
  </tr>
  <tr>
    <td>cidG50063a7EAwCTpfkGEzygQy2PJkkSOEA6</td>
    <td>2022-12-21T13:24:18.000Z</td>
  </tr>
  <tr>
    <td>cidG50063aNCe3kHO0nmj9xTT0v6aJRAj0B3</td>
    <td>2022-12-21T13:24:14.000Z</td>
  </tr>
  <tr>
    <td>cidG50063aOjVfg4tjeR525xbQPSbOaDthE1</td>
    <td>2022-12-20T17:02:58.000Z</td>
  </tr>
  <tr>
    <td>cidG50063a94ENsl18MxoWNTvlz6nYmxbdwq</td>
    <td>2022-12-20T17:02:33.000Z</td>
  </tr>
  <tr>
    <td>cidG50063aXL4Zp8ka5lfG4Ek7jVE62JxlFC</td>
    <td>2022-12-20T17:02:39.000Z</td>
  </tr>
</table>
</div>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>