<html>
<head>
 <link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>GUID -> CID Converter with Reinjection</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
  <tr>
    <th>Coverted CID</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>cidG50060a5VPVl6BAjvj7R2zCy1EHGksVGs</td>
    <td>2021-05-18 22:45:34</td>
  </tr>
  <tr>
    <td>Sherlock Reinjection Results</td>
  </tr>
  <tr>
    <td>Rule Version:20220427_171545</td>
  </tr>
  <tr>
    <td>Subject: FAX_INVOICE421618985 Payment-618985</td>
  </tr>
  <tr>
    <td>Senders: ['nadine.lorenzo@ofertel.es']</td>
  </tr>
  <tr>
    <td>Recipients: ['mark.rice@cdb.co.nz']</td>
  </tr>
  <tr>
    <td>Sending IP: 2603:1096:4:90::33</td>
  </tr>
  <tr>
    <td>Flags: []</td>
  </tr>
  <tr>
    <td>"Keywords: jb</td>
    <td>phish</td>
    <td>malw</td>
    <td>c3</td>
    <td>dp</td>
    <td>tuvs</td>
    <td>jc</td>
    <td>bs</td>
    <td>cl"</td>
  </tr>
  <tr>
    <td>Eng</td>
    <td>Score</td>
    <td>Verdict</td>
    <td>Header Present</td>
    <td>SBRS</td>
  </tr>
  <tr>
    <td>ESA</td>
    <td></td>
    <td></td>
    <td>False</td>
    <td></td>
  </tr>
  <tr>
    <td>Corpus</td>
    <td>99.98</td>
    <td>Y: Certain Spam</td>
    <td>True</td>
    <td></td>
  </tr>
  <tr>
    <td>Reinj</td>
    <td>99.5</td>
    <td>Y: Certain Spam</td>
    <td>True</td>
    <td></td>
  </tr>
</table>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a > <a href="/unassigned"> | Unassigned</a ></p>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>