<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Sherlock API Reinjection Results</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a > <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</></p>
  <tr>
    <th>CID</th>
  </tr>
  <tr>
    <td>cidG500632cgNX2mhMpan8BgB22Gm43nK7ae</td>
  </tr>
  <tr>
    <td>"Wed</td>
    <td>21 Sep 2022 10:52:51 EDT"</td>
  </tr>
  <tr>
    <td>Rule Version:20220923_174703</td>
  </tr>
  <tr>
    <td>Subject: CSIRO Plan Change Request - 0450501453</td>
  </tr>
  <tr>
    <td>Senders: ['Samantha.Sigmund@csiro.au']</td>
  </tr>
  <tr>
    <td>Recipients: ['ges.mobiles.csiro.mac@team.telstra.com']</td>
  </tr>
  <tr>
    <td>Sending IP: 2405:b000:302:71::85:123</td>
  </tr>
  <tr>
    <td>Flags:</td>
  </tr>
  <tr>
    <td>Keywords: nara_u dpp c3 nara wk cl</td>
  </tr>
  <tr>
    <td>Eng</td>
    <td>Score</td>
    <td>Verdict</td>
    <td>Header Present</td>
    <td>SBRS</td>
  </tr>
  <tr>
    <td>"['ESA'</td>
    <td>None</td>
    <td>None</td>
    <td>'False'</td>
    <td>None]"</td>
  </tr>
  <tr>
    <td>"['Corpus'</td>
    <td>13.1</td>
    <td>'N: No results (ham)'</td>
    <td>'True'</td>
    <td>4.0]"</td>
  </tr>
  <tr>
    <td>"['Reinj'</td>
    <td>4.61</td>
    <td>'N: No results (ham)'</td>
    <td>'True'</td>
    <td>4.0]"</td>
  </tr>
  <tr>
    <td>"</td>
  </tr>
  <tr>
    <td>"</td>
  </tr>
</table>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>