<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Sherlock API Reinjection Results</h1>
</head>
<body>
<div class='tblcontainer'>
<table class='tbl'>
<style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a > <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</></p>
  <tr>
    <th>CID</th>
  </tr>
  <tr>
    <td>Sample: cidG500639kfy5cBMqTBLqlBgHbfFV205FTX</td>
  </tr>
  <tr>
    <td>Date:  Fri  16 Dec 2022 09:16:50 EST</td>
  </tr>
  <tr>
    <td>Rule Version:20221216_141835</td>
  </tr>
  <tr>
    <td>Subject: [EXTERNAL EMAIL] Renew Your Vehicle Licence</td>
  </tr>
  <tr>
    <td>Senders: ['noreply@update.com']</td>
  </tr>
  <tr>
    <td>Recipients: ['Glenn_Coles@bnz.co.nz']</td>
  </tr>
  <tr>
    <td>Sending IP: 216.117.129.44</td>
  </tr>
  <tr>
    <td>SBRS Analysis 216.117.129.44</td>
  </tr>
  <tr>
    <td>SBRS Score 0.7</td>
  </tr>
  <tr>
    <td>Rule Hits: CtH RhN RsN TpN</td>
  </tr>
  <tr>
    <td>Bloclk List: Not Found</td>
  </tr>
  <tr>
    <td>Flags:</td>
  </tr>
  <tr>
    <td>Keywords: oi dpp</td>
  </tr>
  <tr>
    <td>ESA Score: 12.43</td>
  </tr>
  <tr>
    <td>Verdict: N: No results (ham)</td>
  </tr>
  <tr>
    <td>THdr: True</td>
  </tr>
  <tr>
    <td>SBRS Score: -1.9</td>
  </tr>
  <tr>
    <td>Corpus Score: 29.37</td>
  </tr>
  <tr>
    <td>Verdict: N: No results (ham)</td>
  </tr>
  <tr>
    <td>Thdr: True</td>
  </tr>
  <tr>
    <td>SBRS Score 0.7</td>
  </tr>
  <tr>
    <td>Reinj Score: 10.0</td>
  </tr>
  <tr>
    <td>Verdict: N: No results (ham)</td>
  </tr>
  <tr>
    <td>THdr: True</td>
  </tr>
  <tr>
    <td>SBRS Score: 0.7</td>
  </tr>
  <tr>
    <td>"</td>
  </tr>
  <tr>
    <td>"</td>
  </tr>
</table>
</div>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>