<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Unassigned</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a > <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</></p>
  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>Created</th>
    <th>Assign</th>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-60976 target=_blank>COG-60976</a></td>
    <td>[FN] -IASRI- Email should be spam</td>
    <td>2022-09-26T04:00:05.000-0700</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-60976><label for=COG-60976>COG-60976</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-60975 target=_blank>COG-60975</a></td>
    <td>[FN] -IASRI- Email should be spam</td>
    <td>2022-09-26T03:58:59.000-0700</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-60975><label for=COG-60975>COG-60975</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-60974 target=_blank>COG-60974</a></td>
    <td>[FN] -IASRI- Email should be spam</td>
    <td>2022-09-26T03:57:23.000-0700</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-60974><label for=COG-60974>COG-60974</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-60973 target=_blank>COG-60973</a></td>
    <td>[FN] -IASRI- Email should be spam</td>
    <td>2022-09-26T03:54:04.000-0700</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-60973><label for=COG-60973>COG-60973</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.sco.cisco.com/browse/COG-60972 target=_blank>COG-60972</a></td>
    <td>[FN] GOVERNMENT TECH - IPAS - Spam Analysis</td>
    <td>2022-09-26T02:38:30.000-0700</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-60972><label for=COG-60972>COG-60972</label><br></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Take Selected Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Jira</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Bugzilla</td>
    <td>0</td>
  </tr>
</table>
<div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>