<html>
<head>
<link rel='stylesheet' href = "{{ url_for('static', filename='css/main.css') }}">
<h1 class='logo'>Unassigned</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a> <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a><a href="/last7"> | Last 7 Days</a></p>
<p><a href="/ajx"> | Scripting</a></p>  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>Created</th>
    <th>Assign</th>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78395 target=_blank>COG-78395</a></td>
    <td>[FP] Oxford University Press  Inc. - WBRS - Review Domain</td>
    <td>2025-03-19</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-78395><label for=COG-78395>COG-78395</label></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Take Selected Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>1</td>
  </tr>
</table>
</div>
<br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>